<% layout('layout') %>
<h1><%= course.courseName %></h1>
<ul class="list-group">
    <li class="list-group-item"><strong>Price:</strong> $<%= course.price %></li>
    <li class="list-group-item"><strong>Duration:</strong> <%= course.duration %></li>
    <li class="list-group-item"><strong>Start Date:</strong> <%= course.courseStartDate.toDateString() %></li>
</ul>
<a href="/courses/<%= course._id %>/edit" class="btn btn-warning mt-3">Edit</a>
<a href="/courses" class="btn btn-secondary mt-3">Back to List</a>
